<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link href="/public/main.css" rel="stylesheet" />
</head>
<body>
    <h1>회원가입 실패!</h1>
    <h2>이미 있는 이메일입니다</h2>
</body>
</html>
