h1{
    color: blue;
}

.board-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}
.board-link:hover {
    background-color: #eee;
}